@font-face {
font-family: 'PTS';
font-style: normal;
font-weight: 400;
src: url('/fonts/PT_Sans/PT_Sans-Web-Regular.ttf');
}

@font-face {
font-family: 'PTS-Bold';
font-style: bold;
font-weight: 700;
src: url('/fonts/PT_Sans/PT_Sans-Web-Bold.ttf');
}

@font-face {
font-family: 'PTS-Narrow';
font-style: normal;
font-weight: 300;
src: url('/fonts/PT_Sans_Narrow/PT_Sans-Narrow-Web-Regular.ttf');
}
